{% extends 'reader/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block navbarContent %}
    <li class="nav-item">
        <a class="nav-link active link-light" aria-current="page" href="{% url 'comfy:signup' %}">Sign Up</a>
    </li>
{% endblock %}
{% block content %}
<h3 class="text-center mx-auto mt-3">Login</h3>
<div class="container mx-auto w-50 mt-3 border border-3 border-info rounded p-3">
    <form method="POST">
        {% csrf_token %}{{ form|crispy }}
        <br>
        <div class="w-50 d-grid gap-2 col-6 mx-auto text-center">
            <span style="font-size: 0.8em;"><em>No account? <a href="{% url 'comfy:signup' %}">Create one!</a></em></span>
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>
{% endblock %}